<div class="header">
  <h1>The Bridesmaid Shop</h1>
  <h5><%= link_to "Home", "/thebridesmaidshop" %></h5>
</div>

<body>

<% dress = Dress.find_by("dress_id" => params["id"]) %>
<% fabricmatch = Dressfabric.where("dress_id" => dress["dress_id"]) %>

  <div class="container">

    <div class="row dress">

      <div class="col-md-5">
        <%= image_tag dress["dress_image"], "width" => "400" %>
      </div>

      <div class="col-md-3">
        <h2><strong><%= dress.dress_name %></strong></h2>
        <h4>$<%= dress.dress_price %></h4>

        <% fabricmatch.each do |fabricmatch| %>
        <% fabric = Fabric.find_by("fabric_id" => fabricmatch["fabric_id"]) %><br><br>

        <%= image_tag fabric["fabric_image"], "width" => "20" %>
        <%= fabric["fabric_color"] %>

      <% end %>
      </div>

    </div>

    <div class="row dress">

      <div class="col-md-12">

      <% reviews = Review.where("dress_id" => dress["dress_id"]) %>

        <h4><strong>Average Review: <%= reviews.average("review_rating") %></strong></h4>
        <% reviews.each do |review_list| %><br>

        <strong><%= review_list.review_rating %> Stars: </strong><%= review_list.review %><br>
        <% end %><br>

        <%= link_to "Add Review", "/thebridesmaidshop/newreview/#{dress["dress_id"]}" %>

      </div>

    </div>

  </div>

</body>
